/* Custom color theme properties */
:root {
  --f7-theme-color: #8B39B8;
  --f7-theme-color-rgb: 139, 57, 184;
  --f7-theme-color-shade: #732f99;
  --f7-theme-color-tint: #9e51c9;
}

/* Your app custom styles here */