/* Custom color theme properties */
:root {
  --f7-theme-color: #FFD200;
  --f7-theme-color-rgb: 139, 57, 184;
  --f7-theme-color-shade: rgba(255, 210, 0, 0.69);
  --f7-theme-color-tint: #FFD200;
}

/* Your app custom styles here */